In [95]:
import librosa
import librosa.display
import pandas as pd
import glob

In [7]:
pip install py_midicsv

Collecting py_midicsv
  Downloading https://files.pythonhosted.org/packages/47/1c/720e16c0362e95c40b005a866cfd85200e604b17c96bb3e68c225a99e7fe/py_midicsv-1.10.0-py3-none-any.whl
Installing collected packages: py-midicsv
Successfully installed py-midicsv-1.10.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import py_midicsv

In [256]:
# Load the MIDI file and parse it into CSV format
csv_string = py_midicsv.midi_to_csv("D:/PGDBA/Competitions/ISI/Music/Midi/0006.mid")
#pandas.to_csv(csv_string)
# Parse the CSV output of the previous command back into a MIDI file
#midi_object = py_midicsv.csv_to_midi(csv_string)

# Save the parsed MIDI file to disk
#with open("example_converted.mid", "wb") as output_file:
#    midi_writer = py_midicsv.FileWriter(output_file)
#    midi_writer.write(midi_object)

In [257]:
features_row = []
for i in range(10,len(csv_string)):
    a = int(csv_string[i].split(',')[1].strip())
    features_row.append(a)
    set1 = set(features_row)
    list1 = list(set1)
    list1.sort()
#list(set(features_row))

In [258]:
csv_string

['0, 0, Header, 0, 1, 120\n',
 '1, 0, Start_track\n',
 '1, 0, Title_t, "untitled"\n',
 '1, 0, Copyright_t, "Copyright c 2000 by YiHsin"\n',
 '1, 0, Text_t, "YiHsin\\012"\n',
 '1, 0, Time_signature, 4, 2, 24, 8\n',
 '1, 0, Key_signature, 0, "major"\n',
 '1, 0, Tempo, 500000\n',
 '1, 0, Program_c, 0, 64\n',
 '1, 0, Control_c, 0, 7, 127\n',
 '1, 0, Note_on_c, 0, 69, 100\n',
 '1, 60, Note_on_c, 0, 69, 0\n',
 '1, 60, Note_on_c, 0, 69, 100\n',
 '1, 120, Note_on_c, 0, 69, 0\n',
 '1, 120, Note_on_c, 0, 66, 100\n',
 '1, 180, Note_on_c, 0, 66, 0\n',
 '1, 180, Note_on_c, 0, 62, 100\n',
 '1, 240, Note_on_c, 0, 62, 0\n',
 '1, 240, Note_on_c, 0, 69, 100\n',
 '1, 300, Note_on_c, 0, 69, 0\n',
 '1, 300, Note_on_c, 0, 69, 100\n',
 '1, 360, Note_on_c, 0, 69, 0\n',
 '1, 360, Note_on_c, 0, 66, 100\n',
 '1, 420, Note_on_c, 0, 66, 0\n',
 '1, 420, Note_on_c, 0, 62, 100\n',
 '1, 480, Note_on_c, 0, 62, 0\n',
 '1, 480, Note_on_c, 0, 64, 100\n',
 '1, 540, Note_on_c, 0, 64, 0\n',
 '1, 540, Note_on_c, 0, 66, 100\n',
 '1, 600, Note_on_c, 0, 66, 0\n',
 '1, 600, Note_on_c, 0, 67, 100\n',
 '1, 660, Note_on_c, 0, 67, 0\n',
 '1, 660, Note_on_c, 0, 67, 100\n',
 '1, 720, Note_on_c, 0, 67, 0\n',
 '1, 720, Note_on_c, 0, 66, 100\n',
 '1, 780, Note_on_c, 0, 66, 0\n',
 '1, 780, Note_on_c, 0, 67, 100\n',
 '1, 840, Note_on_c, 0, 67, 0\n',
 '1, 840, Note_on_c, 0, 69, 100\n',
 '1, 900, Note_on_c, 0, 69, 0\n',
 '1, 900, Note_on_c, 0, 69, 100\n',
 '1, 960, Note_on_c, 0, 69, 0\n',
 '1, 960, Note_on_c, 0, 69, 100\n',
 '1, 1020, Note_on_c, 0, 69, 0\n',
 '1, 1020, Note_on_c, 0, 66, 100\n',
 '1, 1080, Note_on_c, 0, 66, 0\n',
 '1, 1080, Note_on_c, 0, 69, 100\n',
 '1, 1140, Note_on_c, 0, 69, 0\n',
 '1, 1140, Note_on_c, 0, 66, 100\n',
 '1, 1200, Note_on_c, 0, 66, 0\n',
 '1, 1200, Note_on_c, 0, 64, 100\n',
 '1, 1260, Note_on_c, 0, 64, 0\n',
 '1, 1260, Note_on_c, 0, 66, 100\n',
 '1, 1320, Note_on_c, 0, 66, 0\n',
 '1, 1320, Note_on_c, 0, 62, 100\n',
 '1, 1410, Note_on_c, 0, 62, 0\n',
 '1, 1440, Note_on_c, 0, 67, 100\n',
 '1, 1500, Note_on_c, 0, 67, 0\n',
 '1, 1500, Note_on_c, 0, 64, 100\n',
 '1, 1560, Note_on_c, 0, 64, 0\n',
 '1, 1560, Note_on_c, 0, 64, 100\n',
 '1, 1620, Note_on_c, 0, 64, 0\n',
 '1, 1620, Note_on_c, 0, 64, 100\n',
 '1, 1680, Note_on_c, 0, 64, 0\n',
 '1, 1680, Note_on_c, 0, 66, 100\n',
 '1, 1740, Note_on_c, 0, 66, 0\n',
 '1, 1740, Note_on_c, 0, 62, 100\n',
 '1, 1800, Note_on_c, 0, 62, 0\n',
 '1, 1800, Note_on_c, 0, 62, 100\n',
 '1, 1860, Note_on_c, 0, 62, 0\n',
 '1, 1860, Note_on_c, 0, 62, 100\n',
 '1, 1920, Note_on_c, 0, 62, 0\n',
 '1, 1920, Note_on_c, 0, 64, 100\n',
 '1, 1980, Note_on_c, 0, 64, 0\n',
 '1, 1980, Note_on_c, 0, 66, 100\n',
 '1, 2040, Note_on_c, 0, 66, 0\n',
 '1, 2040, Note_on_c, 0, 67, 100\n',
 '1, 2100, Note_on_c, 0, 67, 0\n',
 '1, 2100, Note_on_c, 0, 64, 100\n',
 '1, 2160, Note_on_c, 0, 64, 0\n',
 '1, 2160, Note_on_c, 0, 62, 100\n',
 '1, 2220, Note_on_c, 0, 62, 0\n',
 '1, 2220, Note_on_c, 0, 61, 100\n',
 '1, 2280, Note_on_c, 0, 61, 0\n',
 '1, 2280, Note_on_c, 0, 62, 100\n',
 '1, 2400, Note_on_c, 0, 62, 0\n',
 '1, 2400, End_track\n',
 '0, 0, End_of_file']

In [90]:
source_dir = 'D:\PGDBA\Competitions\ISI\Music\Midi'
file_list = glob.glob(source_dir + '/*.mid')
count = 0
features_row = []
count = 0
final_list = []
for file_path in file_list:
#    x, sr = librosa.load(file_path, sr = None)
#    mfccs = librosa.feature.mfcc(x, sr=fs,n_mfcc=13)
#    np.hstack(mfccs)
    csv_string = py_midicsv.midi_to_csv(file_path)
    for i in range(10,len(csv_string)):
        a = int(csv_string[i].split(',')[1].strip())
        features_row.append(a)
    set1 = set(features_row)
    list1[count] = list(set1)
    list1[count].sort()
    final_list.append(list1[count])
    features_row = []

SyntaxError: EOL while scanning string literal (<ipython-input-111-055a6935dfa0>, line 1)

In [100]:
df = pd.DataFrame(final_list)
df.to_csv('D:/PGDBA/Competitions/ISI/Music/features1.csv',index = False)

In [120]:
lis = []
for file_path in file_list:
#    print(file_path)
    string = file_path[-8:]
    list2 = string.strip()
    lis.append(list2)

In [121]:
df['file_name'] = lis

In [122]:
df.to_csv('D:/PGDBA/Competitions/ISI/Music/features1.csv',index = False)

In [242]:
data_train = pd.read_csv('D:/PGDBA/Competitions/ISI/Music/train.csv')
data_test = pd.read_csv('D:/PGDBA/Competitions/ISI/Music/test.csv')

In [243]:
a = np.array([1,2,3,8,20,23])
b = np.array([1,2,3,5,7,21,25])

def find_closest(a, sorted_b):
    j = np.searchsorted(.5*(sorted_b[1:] + sorted_b[:-1]), a, side='right')
    return b[j]

b.sort()  # or, b = np.sort(b), if you don't want to modify b in-place
print np.c_[a, find_closest(a, b)]

SyntaxError: invalid syntax (<ipython-input-243-fa1423cf4c5a>, line 9)

Empty DataFrame
Columns: [file_name, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, ...]
Index: []

[0 rows x 1494 columns]

In [230]:
#data_train =data_train.fillna(0)
data_train.head()

,file_name,length,0,1,2,3,4,5,6,7,...,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492
0,4912.mid,487,0,46,62,90,121,187,234,251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1432.mid,486,0,98,105,173,182,211,241,279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1730.mid,482,0,89,98,115,132,164,181,198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7290.mid,478,0,27,41,55,63,70,78,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6641.mid,469,0,58,87,116,143,172,204,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
#data_test=data_test.fillna(0)
data_test.head()

,Queries,length,0,235,485,750,1188,2531,3047,3313,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,Query1,22,0,235,485,750,1188,2531,3047,3313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Query2,32,0,469,938,1438,1953,2391,2906,3406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Query3,23,0,250,516,797,1078,1688,1922,2797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Query4,22,0,516,1000,1469,1938,2688,2922,4078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Query5,46,0,344,672,1000,1390,2547,2890,3219,...,16703.0,17031.0,17344.0,17703.0,18297.0,18594.0,18906.0,19265.0,19547.0,19859.0

In [232]:
a = np.array([1,2,3,8,20,23])
b = np.array([1,2,3,5,7,21,25])

def find_closest(a, sorted_b):
    j = np.searchsorted(.5*(sorted_b[1:] + sorted_b[:-1]), a, side='right')
    return b[j]

b.sort()  # or, b = np.sort(b), if you don't want to modify b in-place
print (a, find_closest(a, b))

[ 1  2  3  8 20 23] [ 1  2  3  7 21 25]

In [233]:
import numpy as np

In [234]:
a = np.array(data_test.ix[1])[1]
b = np.array(data_test.ix[1])[2:a+2]
b

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

array([0, 469, 938, 1438, 1953, 2391, 2906, 3406, 3922, 4406, 4906,
       5985.0, 6453.0, 6969.0, 7906.0, 8156.0, 8422.0, 8672.0, 8938.0,
       9422.0, 9906.0, 10156.0, 10422.0, 10672.0, 10906.0, 11375.0,
       11969.0, 12485.0, 12953.0, 14016.0, 14531.0, 15047.0], dtype=object)

In [235]:
np.array(data_train.ix[1])[1:]

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

array([486, 0, 98, ..., nan, nan, nan], dtype=object)

In [236]:
out = []
for j in range(len(data_test)):    
#for j in range(0,4):
# test query
    p = np.array(data_test.ix[j])[1]
    q = np.array(data_test.ix[j])[2:p+2]
    dict = {}
    for i in range(len(data_train)):
        # train data
        a = np.array(data_train.ix[i])[1]
        b = np.array(data_train.ix[i])[2:a+2]
        x,y = (q, find_closest(q, b))
#        print()
        #print('\n')
        dict[data_train.file_name[i]] = np.linalg.norm(x-y)
    #print(j)
    temp = min(dict.values())
    res = [key for key in dict if dict[key] == temp]
   # print(temp, res)
    out.append(res)

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

#### len(out)

In [223]:
temp = min(dict.values())
res = [key for key in dict if dict[key] == temp]
res

['2293.mid']

In [237]:
out

[['2733.mid'],
 ['0949.mid'],
 ['4878.mid'],
 ['4912.mid'],
 ['2397.mid'],
 ['2733.mid'],
 ['4821.mid'],
 ['4912.mid'],
 ['2483.mid'],
 ['1730.mid'],
 ['2397.mid'],
 ['4771.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1524.mid'],
 ['4912.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1717.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1201.mid'],
 ['4878.mid'],
 ['7528.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['2397.mid'],
 ['4821.mid'],
 ['2733.mid'],
 ['1201.mid'],
 ['1392.mid'],
 ['8626.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['0169.mid'],
 ['4821.mid'],
 ['4878.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['2397.mid'],
 ['1730.mid'],
 ['4821.mid'],
 ['4821.mid'],
 ['2881.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['0226.mid'],
 ['1201.mid'],
 ['1918.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['8374.mid'],
 ['4878.mid'],
 ['1201.mid'],
 ['6641.mid'],
 ['0637.mid'],
 ['4821.mid'],
 ['4912.mid'],
 ['8626.mid'],
 ['4878.mid'],
 ['8374.mid'],
 ['4821.mid'],
 ['2483.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1432.mid'],
 ['4821.mid'],
 ['0190.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['2881.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['0913.mid'],
 ['4912.mid'],
 ['1918.mid'],
 ['1201.mid'],
 ['2483.mid'],
 ['4912.mid'],
 ['4771.mid'],
 ['6641.mid'],
 ['4482.mid'],
 ['1894.mid'],
 ['2397.mid'],
 ['0868.mid'],
 ['1201.mid'],
 ['6641.mid'],
 ['4912.mid'],
 ['1062.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['4912.mid'],
 ['4912.mid'],
 ['6641.mid'],
 ['4821.mid'],
 ['7528.mid'],
 ['2733.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['4878.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['6641.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1918.mid'],
 ['2733.mid'],
 ['2881.mid'],
 ['2733.mid'],
 ['1432.mid'],
 ['1730.mid'],
 ['4912.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1432.mid'],
 ['1201.mid'],
 ['4878.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1524.mid'],
 ['1918.mid'],
 ['4878.mid'],
 ['1201.mid'],
 ['2733.mid'],
 ['6641.mid'],
 ['1849.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['0637.mid'],
 ['4878.mid'],
 ['2397.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['1201.mid'],
 ['0949.mid'],
 ['1201.mid'],
 ['1918.mid'],
 ['1524.mid'],
 ['8374.mid'],
 ['2397.mid'],
 ['6641.mid'],
 ['7528.mid'],
 ['1201.mid'],
 ['4912.mid'],
 ['1201.mid'],
 ['4821.mid'],
 ['2397.mid'],
 ['1062.mid'],
 ['2881.mid'],
 ['1201.mid'],
 ['7528.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['1717.mid'],
 ['1201.mid'],
 ['2483.mid'],
 ['2733.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['8374.mid'],
 ['1432.mid'],
 ['1201.mid'],
 ['2177.mid'],
 ['4821.mid'],
 ['2483.mid'],
 ['6070.mid'],
 ['4878.mid'],
 ['2618.mid'],
 ['4821.mid'],
 ['0868.mid'],
 ['6090.mid'],
 ['1201.mid'],
 ['4878.mid'],
 ['4821.mid'],
 ['1201.mid'],
 ['4878.mid'],
 ['2483.mid']]

In [239]:
pd.DataFrame(out).to_csv('D:/PGDBA/Competitions/ISI/Music/SongOut.csv',index = False)

In [246]:
out = []
for j in range(len(data_test)):    
#for j in range(0,4):
# test query
    p = np.array(data_test.ix[j])[1]
    q = np.array(data_test.ix[j])[2:p+2]
    dict = {}
    for i in range(len(data_train)):
        # train data
        a = np.array(data_train.ix[i])[1]
        b = np.array(data_train.ix[i])[2:a+2]
#        x,y = (q, find_closest(q, b))
#        print()
        #print('\n')
        
        dict[data_train.file_name[i]] = np.abs(np.max(q) - np.max(b))
    #print(j)
    temp = min(dict.values())
    res = [key for key in dict if dict[key] == temp]
   # print(temp, res)
    out.append(res)

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Bhushan\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [247]:
out

[['1524.mid'],
 ['1201.mid'],
 ['5312.mid'],
 ['4584.mid'],
 ['1195.mid'],
 ['1369.mid'],
 ['0949.mid'],
 ['2152.mid'],
 ['0169.mid'],
 ['6026.mid'],
 ['2397.mid'],
 ['8626.mid'],
 ['1062.mid'],
 ['4912.mid'],
 ['2253.mid'],
 ['0868.mid'],
 ['4878.mid'],
 ['8626.mid'],
 ['4473.mid'],
 ['6090.mid'],
 ['1201.mid'],
 ['2152.mid'],
 ['1297.mid'],
 ['1054.mid'],
 ['2152.mid'],
 ['0888.mid'],
 ['0824.mid', '0825.mid'],
 ['4912.mid'],
 ['4717.mid'],
 ['1601.mid'],
 ['4717.mid'],
 ['1201.mid'],
 ['1909.mid'],
 ['1195.mid'],
 ['4821.mid'],
 ['4771.mid'],
 ['1201.mid'],
 ['1091.mid'],
 ['1778.mid'],
 ['1054.mid'],
 ['0949.mid'],
 ['8078.mid'],
 ['1201.mid'],
 ['1909.mid'],
 ['1849.mid'],
 ['4878.mid'],
 ['1909.mid'],
 ['1195.mid'],
 ['1730.mid'],
 ['0949.mid'],
 ['0949.mid'],
 ['5312.mid'],
 ['1054.mid'],
 ['1201.mid'],
 ['1054.mid'],
 ['7909.mid'],
 ['1201.mid'],
 ['1091.mid'],
 ['1201.mid'],
 ['5797.mid'],
 ['1909.mid'],
 ['0330.mid'],
 ['2152.mid'],
 ['1054.mid'],
 ['5880.mid'],
 ['0819.mid', '7300.mid'],
 ['2253.mid'],
 ['1369.mid'],
 ['7900.mid'],
 ['1909.mid'],
 ['1918.mid'],
 ['0949.mid'],
 ['8078.mid'],
 ['1849.mid'],
 ['1524.mid'],
 ['0330.mid'],
 ['1062.mid'],
 ['5713.mid'],
 ['1054.mid'],
 ['1062.mid'],
 ['0888.mid'],
 ['1054.mid'],
 ['1524.mid'],
 ['1201.mid'],
 ['1054.mid'],
 ['2293.mid'],
 ['1778.mid'],
 ['4221.mid'],
 ['1896.mid'],
 ['0888.mid'],
 ['6156.mid'],
 ['0370.mid'],
 ['7900.mid'],
 ['6026.mid'],
 ['0313.mid'],
 ['0021.mid'],
 ['1195.mid'],
 ['1849.mid'],
 ['4878.mid'],
 ['7900.mid'],
 ['2483.mid'],
 ['4717.mid'],
 ['1054.mid'],
 ['1054.mid'],
 ['1223.mid'],
 ['6026.mid'],
 ['1909.mid'],
 ['1054.mid'],
 ['4364.mid'],
 ['6026.mid'],
 ['1201.mid'],
 ['2253.mid'],
 ['4771.mid'],
 ['1380.mid'],
 ['2253.mid'],
 ['8626.mid'],
 ['1201.mid'],
 ['0439.mid'],
 ['4912.mid'],
 ['7272.mid'],
 ['0824.mid', '0825.mid'],
 ['0824.mid', '0825.mid'],
 ['0824.mid', '0825.mid'],
 ['6026.mid'],
 ['4364.mid'],
 ['0330.mid'],
 ['0370.mid'],
 ['1369.mid'],
 ['1109.mid'],
 ['7528.mid'],
 ['2881.mid'],
 ['1909.mid'],
 ['4717.mid'],
 ['4221.mid'],
 ['2707.mid'],
 ['5713.mid'],
 ['2483.mid'],
 ['1062.mid'],
 ['4771.mid'],
 ['1559.mid'],
 ['6090.mid'],
 ['1909.mid'],
 ['1909.mid'],
 ['5713.mid'],
 ['4878.mid'],
 ['1195.mid'],
 ['1369.mid'],
 ['1380.mid'],
 ['4821.mid'],
 ['0330.mid'],
 ['0888.mid'],
 ['7528.mid'],
 ['1091.mid'],
 ['1054.mid'],
 ['1054.mid'],
 ['1559.mid'],
 ['8626.mid'],
 ['0330.mid'],
 ['1195.mid'],
 ['8078.mid'],
 ['1524.mid'],
 ['1054.mid'],
 ['4771.mid'],
 ['1054.mid'],
 ['1054.mid'],
 ['1195.mid'],
 ['1380.mid'],
 ['0913.mid'],
 ['0439.mid'],
 ['4771.mid'],
 ['2253.mid'],
 ['6288.mid'],
 ['8626.mid'],
 ['1054.mid'],
 ['5312.mid'],
 ['1524.mid'],
 ['0888.mid'],
 ['8626.mid'],
 ['1849.mid'],
 ['1909.mid'],
 ['0949.mid'],
 ['1201.mid'],
 ['0024.mid'],
 ['6641.mid'],
 ['1380.mid'],
 ['1091.mid'],
 ['0949.mid'],
 ['4221.mid'],
 ['1559.mid'],
 ['2152.mid'],
 ['0946.mid'],
 ['0949.mid'],
 ['1524.mid'],
 ['4878.mid'],
 ['1054.mid'],
 ['4912.mid'],
 ['4821.mid'],
 ['5797.mid'],
 ['4364.mid'],
 ['0824.mid', '0825.mid']]

In [249]:
pd.DataFrame(out).to_csv('D:/PGDBA/Competitions/ISI/Music/SongOut.csv',index = False)